plain corresp templates/template.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://www.tei-c.org/ns/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="TEI">
      <element name="teiHeader">
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">id</name>
          <data type="NCName"/>
        </attribute>
        <element name="fileDesc">
          <element name="titleStmt">
            <element name="title">
              <text/>
            </element>
            <element name="author">
              <text/>
            </element>
          </element>
          <element name="editionStmt">
            <element name="edition">
              <text/>
            </element>
            <oneOrMore><element name="respStmt">
              <element name="resp">
                <text/>
              </element>
              <ref name="name"/>
            </element></oneOrMore>
          </element>
          <element name="publicationStmt">
            <element name="publisher">
              <ref name="address"/>
            </element>
            <ref name="idno"/>
            <element name="availability">
              <attribute name="status">
                <data type="NCName"/>
              </attribute>
              <oneOrMore>
                <ref name="p"/>
              </oneOrMore>
            </element>
            <ref name="date"/>
          </element>
          <element name="notesStmt">
            <ref name="note"/>
            <optional><ref name="note"/></optional>
            
          </element>
          <element name="sourceDesc">
            <element name="msDesc">
              <element name="msIdentifier">
                <element name="repository">
                  <attribute name="ref">
                      <choice>
                        <value>#AL</value>
                        <value>#CCCA</value>
                        <value>#ICPA</value>
                        <value>#IJA</value>
                        <value>#LDA</value>
                        <value>#MMM</value>
                        <value>#MAI</value>
                        <value>#NAI</value>
                        <value>#NLI</value>
                        <value>#NMI</value>
                        <value>#PRONI</value>
                        <value>#PCMA</value>
                        <value>#TCD</value>
                        <value>#UCD</value>
                        <value>#AIHS</value>
                        <value>#BlairHalliday</value>
                        <value>#FinnFamily</value>
                        <value>#LawrenceScott</value>
                        <value>#LiamSmith</value>
                        <value>#Private_Collection</value>
                        <value>#MichaelHannah</value>
                        <value>#PatCarroll</value>
                        <value>#RoryOLoughlin</value>
                        <value>#JamesRyle</value>
                        <value>#SighleHumphreys</value>
                        <value>#PatEnglish</value>
                        <value>#ONeillFamily</value>
                        <value>#OLaoghaireFamily</value>
                        <value>#McGrath</value>
                        <value>#KellyFamily</value>
                        <value>#Garland</value>
                        <value>#OModhrainFamily</value>
                      </choice>
                  </attribute>
                  <text/>
                </element>
                <element name="collection">
                  <attribute name="type">
                    <choice>
                      <value>public</value>
                      <value>private</value>
                    </choice>
                  </attribute>
                  <text/>
                </element>
                <ref name="idno"/>
              </element>
            </element>
          </element>
        </element>
        <element name="profileDesc">
          <element name="correspDesc">
            <attribute name="xml:id">
              <ref name="correspID"></ref>
            </attribute>
            <oneOrMore>
              <element name="correspAction">
                <attribute name="type">
                  <choice>
                    <value>received</value>
                    <value>sent</value>
                  </choice>
                </attribute>
                <zeroOrMore>
                  <ref name="persName"></ref>
                  </zeroOrMore>
                <optional>
                  <ref name="placeName"/>
                </optional>
                <optional>
                  <ref name="date"/>
                </optional>
              </element>
            </oneOrMore>
          </element>
          <element name="textClass">
            <element name="keywords">
              <element name="list">
                <oneOrMore>
                  <element name="item">
                    <attribute name="n">
                      <choice>
                        <value>gender</value>
                        <value>tag</value>
                        <value>death</value>
                      </choice>
                    </attribute>
                    <text/>
                  </element>
                </oneOrMore>
              </element>
            </element>
          </element>
          <element name="langUsage">
            <element name="language">
              <attribute name="ident">
                <choice>
                  <value>en</value>
                  <value>ga</value>
                </choice>
              </attribute>
              <choice>
                <value>English</value>
                <value>Irish</value>
              </choice>
            </element>
          </element>
        </element>
        <element name="encodingDesc">
          <element name="editorialDecl">
            <ref name="p"/>
          </element>
          <element name="projectDesc">
            <ref name="p"/>
          </element>
          <element name="appInfo">
            <element name="application">
              <attribute name="ident">
                <data type="NCName"/>
              </attribute>
              <attribute name="version">
                <data type="integer"/>
              </attribute>
              <attribute>
                <name ns="http://www.w3.org/XML/1998/namespace">id</name>
                <data type="NCName"/>
              </attribute>
              <element name="desc">
                <text/>
              </element>
            </element>
          </element>
        </element>
        <element name="revisionDesc">
          <oneOrMore>
            <element name="change">
              <attribute name="when">
                <data type="dateTime"/>
              </attribute>
              <attribute name="who"/>
              <text/>
            </element>
          </oneOrMore>
        </element>
      </element>
      <element name="facsimile">
        <oneOrMore><ref name="graphic"></ref></oneOrMore>
      </element>
      <ref name="text"/>
    </element>
  </start>
  <define name="name">
    <element name="name">
      <text/>
    </element>
  </define>
  <define name="address">
    <element name="address">
      <choice>
        <oneOrMore>
          <element name="addrLine">
            <oneOrMore>
              <choice>
                <text/>
                <ref name="date"/>
                <ref name="foreign"/>
                <ref name="lineLevel"></ref>
              </choice>
            </oneOrMore>
          </element>
        </oneOrMore>
        <group>
          <ref name="name"/>
          <element name="orgName">
            <text/>
          </element>
          <element name="region">
            <text/>
          </element>
          <ref name="placeName"/>
        </group>
      </choice>
    </element>
  </define>
  <define name="idno">
    <element name="idno">
      <optional>
        <attribute name="n">
          <data type="NCName"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="p">
    <element name="p">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="breaks"/>
          <ref name="lineLevel"></ref>
          <ref name="foreign"></ref>
          </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="date">
    <element name="date">
      <optional>
        <attribute name="when">
          <ref name="dateValue"></ref>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="hi"/>
          <ref name="add"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="note">
    <element name="note">
      <optional>
        <attribute name="type">
          <choice>
            <value>summary</value>
            <value>translation</value>
          </choice>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="breaks"/>
          <ref name="p"/>
          <ref name="address"></ref>
          <ref name="lineLevel"></ref>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="placeName">
    <element name="placeName">
      <optional>
        <attribute name="ref">
          <choice>
            <value>#Ireland</value>
            <value>#Abbeyleix</value>
<value>#Abingdon</value>
<value>#Achill</value>
<value>#Aghadowey</value>
<value>#Ahascragh</value>
<value>#Ahoghill</value>
<value>#Alderney</value>
<value>#Alexandria</value>
<value>#Altrincham</value>
<value>#An_Grianàn</value>
<value>#Ancoats</value>
<value>#Ardeevin</value>
<value>#Armagh</value>
<value>#Athenry</value>
<value>#Athlone</value>
<value>#Aughnalcoy</value>
<value>#Avoca</value>
<value>#Aylesbury_Prison</value>
<value>#Bagenalstown</value>
<value>#Bailieborough</value>
<value>#Bala</value>
<value>#Ballina</value>
<value>#Ballinacurra</value>
<value>#Ballinasloe</value>
<value>#Ballincoona</value>
<value>#Ballinea</value>
<value>#Ballinskelligs</value>
<value>#Ballsbridge</value>
<value>#Ballybunnion</value>
<value>#Ballycahane</value>
<value>#Ballycastle</value>
<value>#Ballylongford</value>
<value>#Ballymore</value>
<value>#Bandon</value>
<value>#Bangor</value>
<value>#Banteer</value>
<value>#Bath</value>
<value>#Battersea</value>
<value>#Bedford</value>
<value>#Belfast</value>
<value>#Bere_Island</value>
<value>#Berlin</value>
<value>#Bermondsey</value>
<value>#Berne</value>
<value>#Bettystown</value>
<value>#Bexhill</value>
<value>#Birkenhead</value>
<value>#Birmingham</value>
<value>#Birr</value>
<value>#Blackburn</value>
<value>#Blackrock</value>
<value>#Booterstown</value>
<value>#Boscombe</value>
<value>#Boston</value>
<value>#Bournemouth</value>
<value>#Boyle</value>
<value>#Bray</value>
<value>#Bristol</value>
<value>#Brixton_Prison</value>
<value>#Broomfield_Camberley</value>
<value>#Chesham_Bois</value>
<value>#Buncrana</value>
<value>#Bundoran</value>
<value>#Buxton</value>
<value>#Cabra</value>
<value>#Cahirciveen</value>
<value>#Calais</value>
<value>#Cambridge</value>
<value>#Cardiff</value>
<value>#Carlingford</value>
<value>#Carlow</value>
<value>#Carrick_on_Shannon</value>
<value>#Carrigaholt</value>
<value>#Carson_City</value>
<value>#Cashelnagore</value>
<value>#Ashtown</value>
<value>#Castleblaney</value>
<value>#Castlegregory</value>
<value>#Castleknock</value>
<value>#Cavan</value>
<value>#Celbridge</value>
<value>#Charleville</value>
<value>#Chatam</value>
<value>#Cheetam_Hill</value>
<value>#Chelsea</value>
<value>#Chertsey</value>
<value>#Cheshire</value>
<value>#Cloghran</value>
<value>#Clonliffe</value>
<value>#Clonmany</value>
<value>#Clontarf</value>
<value>#Coalisland</value>
<value>#Colchester</value>
<value>#Coleraine</value>
<value>#Coolaney</value>
<value>#Coole</value>
<value>#Cork</value>
<value>#Courtown</value>
<value>#Cratloe</value>
<value>#Crewe</value>
<value>#Criccieth</value>
<value>#Crossmolina</value>
<value>#Cuckfield</value>
<value>#Dalkey</value>
<value>#Dartmoor</value>
<value>#Derby</value>
<value>#Derry</value>
<value>#Derrynadivva</value>
<value>#Dingle</value>
<value>#Donaghadee</value>
<value>#Donegal</value>
<value>#Doneraile</value>
<value>#Donnybrook</value>
<value>#Downpatrick</value>
<value>#Drogheda</value>
<value>#Dromod</value>
<value>#Manorhamilton</value>
<value>#Drumcondra</value>
<value>#Dublin</value>
<value>#Dun_Laoghaire</value>
<value>#Dundalk</value>
<value>#Dundrum</value>
<value>#Dungarvan</value>
<value>#Dunmanway</value>
<value>#Dunshaughlin</value>
<value>#Edinburgh</value>
<value>#Leith</value>
<value>#Ennis</value>
<value>#Enniscorthy</value>
<value>#Enniskerry</value>
<value>#Ewhurst</value>
<value>#Farnham</value>
<value>#Farranfore</value>
<value>#Fermoy</value>
<value>#Finglas</value>
<value>#Fivemiletown</value>
<value>#Folkstone</value>
<value>#Foxrock</value>
<value>#Foynes</value>
<value>#Frongoch_Prison</value>
<value>#Galway</value>
<value>#Glasgow</value>
<value>#Glenageary</value>
<value>#Glencoe</value>
<value>#Glendalough</value>
<value>#Glengarriff</value>
<value>#Gorey</value>
<value>#Gort</value>
<value>#Gortahork</value>
<value>#Graignamanagh</value>
<value>#Granard</value>
<value>#Grange</value>
<value>#Grantchester</value>
<value>#Greystones</value>
<value>#Gustrow</value>
<value>#Gütersloh</value>
<value>#Haddington</value>
<value>#Hardelot</value>
<value>#Harrogate_Hill</value>
<value>#Holywood</value>
<value>#Hope</value>
<value>#Hot_Springs</value>
<value>#Howth</value>
<value>#Hull</value>
<value>#Hunts</value>
<value>#Inniscarra</value>
<value>#Inverness</value>
<value>#Johnstown</value>
<value>#Kamuli</value>
<value>#Kells</value>
<value>#Kilballyowen</value>
<value>#Kilcar</value>
<value>#Kildare</value>
<value>#Kilkee</value>
<value>#Kilkenny</value>
<value>#Killadysert</value>
<value>#Killaloe</value>
<value>#Killarney</value>
<value>#Killiney</value>
<value>#Killorglin</value>
<value>#Killybegs</value>
<value>#Kilmacow</value>
<value>#Kilmainham_Gaol</value>
<value>#Kilmore_Wexford</value>
<value>#Kilmallock</value>
<value>#Kingscourt</value>
<value>#Kingstown</value>
<value>#Kinsale</value>
<value>#Knockmoroon</value>
<value>#Knocknagoshel</value>
<value>#Knutsford_Prison</value>
<value>#Lahn</value>
<value>#Lambton_Castle</value>
<value>#Leadville</value>
<value>#Leeds</value>
<value>#Leitrim</value>
<value>#Lenox_Dale</value>
<value>#Letterkenny</value>
<value>#Lewes</value>
<value>#Lifford</value>
<value>#Limberg</value>
<value>#Limerick</value>
<value>#Lisadian</value>
<value>#Lisborn</value>
<value>#Lisburn</value>
<value>#Lissmacaffrey</value>
<value>#Listowel</value>
<value>#Liverpool</value>
<value>#London</value>
<value>#Londonberry</value>
<value>#Longford</value>
<value>#Lough_Derg</value>
<value>#Loughrea</value>
<value>#Lusk</value>
<value>#Maghera</value>
<value>#Magherafelt</value>
<value>#Magheramore</value>
<value>#Mallow</value>
<value>#Malta</value>
<value>#Manchester</value>
<value>#Manoora</value>
<value>#Manorhampton</value>
<value>#Marghere</value>
<value>#Maynooth</value>
<value>#Mendota</value>
<value>#Midleton</value>
<value>#Mohill</value>
<value>#Monaghan</value>
<value>#Monkstown</value>
<value>#Mount_St_Marys</value>
<value>#Mountjoy</value>
<value>#Mountjoy_Prison</value>
<value>#Mountmellick</value>
<value>#Moyvore</value>
<value>#Mudros</value>
<value>#Mullingar</value>
<value>#Munich</value>
<value>#Muontjoy</value>
<value>#Myshall</value>
<value>#Naas</value>
<value>#Navan</value>
<value>#New_York</value>
<value>#Newcastlewest</value>
<value>#Newry</value>
<value>#Newtownards</value>
<value>#Omagh</value>
<value>#Osterrade</value>
<value>#Oxford_Prison</value>
<value>#Pentonville_Prison</value>
<value>#Perth_Amboy</value>
<value>#Perthshire</value>
<value>#Petrograd</value>
<value>#Phibsborough</value>
<value>#Philadelphia</value>
<value>#Philipopolis</value>
<value>#Pittsburgh</value>
<value>#PortnaBlagh</value>
<value>#Portadown</value>
<value>#Portarlington</value>
<value>#Portland</value>
<value>#Portlaoise</value>
<value>#Portmarnock</value>
<value>#Queenstown</value>
<value>#Queenstown_Cork</value>
<value>#Raheny</value>
<value>#Ranelagh</value>
<value>#Ravenswood</value>
<value>#Raphoe</value>
<value>#Ráth_Ó_Máine</value>
<value>#Ratha</value>
            <value>#Rathfarnham</value>
<value>#Rathgar</value>
<value>#Rathkeale</value>
<value>#Rathmines</value>
<value>#Rathmore</value>
<value>#Reading</value>
<value>#Retford</value>
<value>#Dublin_Richmond_Barracks</value>
<value>#Richmond</value>
<value>#Rochestown</value>
<value>#Rockchapel</value>
<value>#Rockdene</value>
<value>#Rome</value>
<value>#Roscommon</value>
<value>#Roscrea</value>
<value>#Rosscarbery</value>
<value>#Rostrevor</value>
<value>#Rugby</value>
<value>#Saintfield</value>
<value>#Sallins</value>
<value>#Salonika</value>
<value>#Saltspring_Island</value>
<value>#San_Francisco</value>
<value>#Sandymount</value>
<value>#Scariff</value>
<value>#Schleswig</value>
<value>#Seacombe</value>
<value>#Sheffield</value>
<value>#Shillelagh</value>
<value>#Skibbereen</value>
<value>#Sligo</value>
<value>#Somme</value>
<value>#St_Anns_Hill_Tower</value>
<value>#St_Austens_Stafford</value>
<value>#St_Enda</value>
<value>#Stafford</value>
<value>#Stafford_Prison</value>
<value>#Stillorgan</value>
<value>#Stonehouse</value>
<value>#Strabane</value>
<value>#Stradbally</value>
<value>#Straffan</value>
<value>#Strangford</value>
<value>#Swords</value>
<value>#Templemore</value>
<value>#Thurles</value>
<value>#Tigris</value>
<value>#Tipperary</value>
<value>#Togherstown</value>
<value>#Tomcoole</value>
<value>#Tomgraney</value>
<value>#Toronto</value>
<value>#Tralee</value>
<value>#Tramore</value>
<value>#Tuam</value>
<value>#Tullamore</value>
<value>#Tullow</value>
<value>#Urlingford</value>
<value>#Ventry</value>
<value>#Wakefield_Prison</value>
<value>#Wandsworth_Prison</value>
<value>#Washington</value>
<value>#Waterford</value>
<value>#Welshpool</value>
<value>#Welshpool</value>
<value>#Westport</value>
<value>#Wexford</value>
<value>#Whiteabbey</value>
<value>#Whittlesea</value>
<value>#Woking</value>
<value>#Worcester</value>
<value>#Zossen</value>
<value>#Berkshire</value>
<value>#Wicklow</value>
<value>#France</value>
<value>#Kerry</value>
<value>#Cavan</value>
<value>#Wicklow</value>
<value>#Armagh</value>
<value>#Longford</value>
<value>#Roscommon</value>
<value>#Monaghan</value>
<value>#Berkshire</value>
<value>#Galway</value>
<value>#Dolphins_Barn</value>
<value>#Frongoch_Prison</value>
<value>#Germany_Zossen</value>
<value>#Dublin_Castle</value>
<value>#Calais_France</value>
<value>#Clonakilty</value>
<value>#Dublin_Parkgate</value>
<value>#Berkinhead</value>
<value>#FourCourts</value>
<value>#CentralDublin</value>
<value>#ship_HMS_Defence</value>
            <value>#Portobello_Dublin</value>
          </choice>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <element name="country">
            <data type="NCName"/>
          </element>
          <element name="settlement">
            <data type="NCName"/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  

  <define name="unclear">
    <element name="unclear">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="breaks"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="hi">
    <element name="hi">
      <attribute name="rend">
        <choice>
          <value>superscript</value>
          <value>underline</value>
        </choice>
      </attribute>
      <oneOrMore>
        <choice>
          <ref name="del"></ref>
          <ref name="add"></ref>
          <ref name="hi"></ref>
          <ref name="sic"></ref>
          <ref name="unclear"></ref>
          <ref name="lb"></ref>
          <text/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="foreign">
    <element name="foreign">
      <oneOrMore>
        <choice>
          <text></text>
          <ref name="lineLevel"></ref>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="lb">
    <element name="lb">
      <empty/>
    </element>
  </define>
  <define name="cb">
    <element name="cb">
      <empty/>
    </element>
  </define>
  <define name="pb">
    <element name="pb">
      <attribute name="facs">
        <data type="string">
          <param name="pattern">#L1916_[0-9]+_img_[0-9]+</param>
        </data>
      </attribute>
      <attribute name="n">
        <choice>
          <data type="integer"/>
          <empty></empty>
        </choice>
      </attribute>
    </element>
  </define>
  <define name="ab">
    <element name="ab">
      <oneOrMore>
        <choice><ref name="address"/>
        <ref name="lineLevel"></ref>
        <text></text>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="head">
    <element name="head">
      <oneOrMore>
        <choice>
        <ref name="hi"></ref>
      
        <ref name="del"></ref>
      
        <ref name="add"></ref>
          
          <ref name="lb"></ref>
      
        <text/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="opener">
    <element name="opener">
      <oneOrMore>
        <choice>
          <ref name="address"/>
          <ref name="dateline"></ref>
          <ref name="salute"/>
          <ref name="hi"/>
          <text></text>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="closer">
    <element name="closer">
      <oneOrMore>
        <choice>
          <text></text>
          <ref name="salute"/>
          <ref name="lb"/>
          <ref name="lineLevel"></ref>
          <ref name="signed"></ref>
          <ref name="address"></ref>
          <ref name="dateline"></ref>
        </choice>
      </oneOrMore>
      
    </element>
  </define>
  <define name="salute">
    <element name="salute">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="foreign"/>
          <ref name="hi"/>
          <ref name="lb"/>
          <ref name="unclear"/>
          <ref name="sic"/>
          <ref name="gap"></ref>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="signed">
    <element name="signed">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="unclear"/>
          <ref name="hi"></ref>
          <ref name="lb"></ref>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="div">
      <element name="div">
        <attribute name="type">
          <choice>
            <value>message</value>
            <value>imageCaption</value>
            <value>address</value>
          </choice>
        </attribute>
        <interleave>
          <optional>
            <ref name="fw"/>
          </optional>
          <optional>
            <ref name="div"></ref>
          </optional>
          <optional>
            <ref name="head"/>
          </optional>
          <zeroOrMore>
            <ref name="lb"/>
          </zeroOrMore>
          <optional>
            <ref name="opener"/>
          </optional>
        </interleave>
        <zeroOrMore>
          <choice>
            <ref name="ab"/>
            <ref name="p"/>
            <ref name="breaks"></ref>
          </choice>
        </zeroOrMore>
        <optional>
          <ref name="closer"/>
        </optional>
        
        <optional>
          <choice>
            <ref name="cb"></ref>
            <ref name="pb"></ref>
          </choice>
        </optional>
        <optional>
          <oneOrMore><ref name="note"></ref></oneOrMore>
        </optional>
        <optional>
          <ref name="postscript"/>
        </optional>
        <optional>
          <choice>
            <ref name="cb"></ref>
            <ref name="pb"></ref>
          </choice>
        </optional>
        <optional>
          <oneOrMore><ref name="note"></ref></oneOrMore>
        </optional>
      </element>
  </define>
  
  <define name="text">
    <element name="text">
      <ref name="group"/>
    </element>
  </define>
  
  <define name="innerText">
    <element name="text">
        <ref name="textAttr"></ref>
    </element>
  </define>
  
  
  
  <define name="group">
    <element name="group">
      <zeroOrMore>
        <choice>
        <zeroOrMore><ref name="pb"/></zeroOrMore>
        <oneOrMore><ref name="innerText"></ref></oneOrMore>
        </choice>
      </zeroOrMore>
        
    </element>
  </define>
  
  <define name="fw">
    <element name="fw">
      <attribute name="type">
        <value>prePrinted-Text</value>
      </attribute>
      <oneOrMore>
        <choice>
          <text></text>
          <ref name="hi"></ref>
          <ref name="lb"></ref>
          <ref name="sic"></ref>
          <ref name="del"></ref>
          <ref name="add"></ref>
        </choice>
      </oneOrMore>
      
    </element>
  </define>
  
  <define name="postscript">
    <element name="postscript">
      <oneOrMore>
        <choice>
          <ref name="p"></ref>
          <ref name="lb"></ref>
        </choice>
      </oneOrMore>
    </element>
  </define>
  
  <define name="add">
    <element name="add">
      <optional>
        <attribute name="place">
          <value>margin</value>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
         <ref name="unclear"></ref>
          <ref name="hi"></ref>
        <ref name="address"></ref>
        <ref name="lb"/>
        <text/>
      </choice>
      </oneOrMore>
    </element>
  </define>
  
  <define name="del">
    <element name="del">
      <text/>
    </element>
  </define>
  
  <define name="sic">
    <element name="sic">
      <text/>
    </element>
  </define>
  
  <define name="gap">
    <element name="gap">
      <empty/>
    </element>
  </define>
  
  <define name="dateline">
    <element name="dateline">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="date"/>
          <ref name="foreign"/>
          <ref name="unclear"/>
          <ref name="hi"/>
          <ref name="time"></ref>
          
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="graphic">
    <element name="graphic">
      <attribute name="url"/>
      <attribute>
        <name ns="http://www.w3.org/XML/1998/namespace">id</name>
        <data type="NCName"/>
      </attribute>
    </element>
  </define>
  
  <define name="textAttr" combine="choice">
    <attribute name="type">
        <choice>
          <value>letter</value>
          <value>envelope</value>
          <value>document</value>
          <value>additional</value>
          <value>telegram</value>
        </choice>
      </attribute>
        <attribute name="decls"></attribute>
      <ref name="bodyNoDiv"></ref>
  </define>
  
  <define name="textAttr" combine="choice">
    <attribute name="type">
        <choice>
          <value>postcard</value>
          <value>picture</value>
        </choice>
      </attribute>
      <attribute name="decls"></attribute>
      <ref name="bodyDiv"/>
  </define>
  
  <define name="bodyNoDiv">
    <element name="body">
      <interleave>
        <optional>
          <ref name="note"/>
        </optional>
        <optional>
          <ref name="fw"/>
        </optional>
        <optional>
          <ref name="head"/>
        </optional>
        <zeroOrMore>
          <ref name="lb"/>
        </zeroOrMore>
        <optional>
          <ref name="opener"/>
        </optional>
      </interleave>
      <zeroOrMore>
        <choice>
          <ref name="note"></ref>
          <ref name="ab"/>
          <ref name="p"/>
          <ref name="breaks"></ref>
        </choice>
      </zeroOrMore>
      <optional>
        <ref name="closer"/>
      </optional>
      <optional>
        <choice>
          <ref name="cb"></ref>
          <ref name="pb"></ref>
        </choice>
      </optional>
      <optional>
        <oneOrMore><ref name="note"></ref></oneOrMore>
      </optional>
      <optional>
        <ref name="postscript"/>
      </optional>
      <optional>
        <choice>
          <ref name="cb"></ref>
          <ref name="pb"></ref>
        </choice>
      </optional>
      <optional>
        <oneOrMore><ref name="note"></ref></oneOrMore>
      </optional>
    </element>
  </define>
  
  <define name="bodyDiv">
    <element name="body">
        <oneOrMore>
          <choice><ref name="div"></ref>
          <ref name="pb"></ref>
          <ref name="cb"></ref></choice>
        </oneOrMore>
    </element>
  </define>
  
  <define name="persName">
    <element name="persName">
      <attribute name="ref">
          <choice>
            <value>#Ryan_x</value>
            <value>#Maggie_x</value>
            <value>#Cromien_J</value>
            <value>#War_Employments_Inspector_x</value>
            <value>#Aston_E_A</value>
            <value>#Thompson_J</value>
            <value>#Officer_Commander_IV</value>
            <value>#Griffith_J</value>
            <value>#Curtin_D_G</value>
            <value>#Moynihan_M</value>
<value>#Moynihan_J</value>
<value>#Ceannt_E</value>
<value>#FitzGerald_M</value>
<value>#Dyer_P</value>
<value>#OConnor_J</value>
<value>#Brennan_J</value>
<value>#Brown_M</value>
<value>#Brown_N</value>
<value>#Brown_L</value>
<value>#Bulfin_E</value>
<value>#Malony_H</value>
<value>#Doyle_S</value>
<value>#Hely_Ltd</value>
<value>#MacDonagh_M</value>
<value>#MacDonagh_J</value>
<value>#Asquith_H_H</value>
<value>#OShea_J</value>
<value>#Horan_G</value>
<value>#Blythe_E</value>
<value>#OHegarty_P_S</value>
<value>#Carroll_P_A</value>
<value>#Rainey_J_W</value>
<value>#Ryan_J</value>
<value>#Clerk_Crown_and_Peace_County_Down</value>
<value>#O'Brien_Moran_H</value>
<value>#Chamberlain_N</value>
<value>#McWeeney_E_J</value>
<value>#OFarrell_E</value>
<value>#Dowdall_J</value>
<value>#Swift_MacNeill_J_G</value>
            <value>#Farrell_J_J</value>
<value>#Farrell_J_J_et_al</value>
<value>#Wynne_H_A</value>
<value>#Fitzgerald_Barry_R</value>
<value>#OModhrain_E</value>
<value>#Sweetman_J</value>
<value>#Wray_S_A</value>
<value>#Brown_R</value>
<value>#Dunlop_R</value>
<value>#Hogan_J_F</value>
<value>#Waters_J</value>
<value>#ODonnell_F</value>
<value>#Boase_G</value>
<value>#Teresa_S</value>
<value>#Stone_E_D</value>
<value>#Duffy_G</value>
<value>#Colbert_L</value>
<value>#ODuibhguin_M</value>
<value>#Daly_J</value>
<value>#MacDermot_P_C</value>
<value>#Moorhead_J_R</value>
<value>#Browne_F_M</value>
<value>#Monteith_M_F</value>
<value>#Anthony_M</value>
<value>#Davidson_J</value>
<value>#Burke_M_J</value>
<value>#Nally_T</value>
<value>#Nally_N</value>
<value>#Connolly_W_M</value>
            <value>#Connolly_J</value>
<value>#ODriscoll_G</value>
<value>#Stanley_J_M</value>
<value>#Mr_Walker</value>
<value>#PlunkettDillon_G</value>
<value>#Plunkett_G_N</value>
<value>#McBrien_P</value>
<value>#OLoughlin_E</value>
<value>#OLoughlin_P</value>
<value>#Moore_M</value>
<value>#Bannister_G</value>
<value>#Caldwell_F</value>
<value>#Bradley_J</value>
<value>#Mahoney_M</value>
<value>#Fay_M</value>
<value>#Finn_J</value>
<value>#Sheehan_G</value>
<value>#Carphin_J</value>
<value>#Carphin_P_B</value>
<value>#deValera_E</value>
<value>#Walsh_E</value>
<value>#Heuston_J_J</value>
<value>#NiCathain_M</value>
<value>#Mr_Dolan</value>
<value>#MacDonagh_J</value>
<value>#Allan_F_J</value>
<value>#Arkwright_M</value>
<value>#Beazley_N</value>
<value>#Beazley_N</value>
<value>#Beazley_P</value>
<value>#Beazley_P_L</value>
<value>#Brabazon_R</value>
<value>#Brady_K</value>
<value>#Calnan_M</value>
<value>#Churchill_G_I</value>
<value>#Coffey_J</value>
<value>#Collins_M</value>
<value>#Corrigan_E</value>
<value>#Dillon_A_C</value>
<value>#Dillon_L_G</value>
<value>#Dillon_R_E</value>
<value>#Doherty_L</value>
<value>#Doyle_M_F</value>
<value>#GavanDuffy_G</value>
<value>#GavanDuffy_M</value>
<value>#General_Military_Order</value>
<value>#General_Officer</value>
<value>#Hickey_R</value>
<value>#Jim_x_0</value>
<value>#Joe</value>
<value>#Kelly_M</value>
<value>#Kenny_M</value>
<value>#M_x</value>
<value>#MacDonagh_J</value>
<value>#MacDonagh_M</value>
<value>#MacNeill_E</value>
<value>#Mary_M_x</value>
<value>#miss_Ryan</value>
<value>#Moore_B_Fr</value>
<value>#Moran_E</value>
<value>#Moran_L</value>
<value>#Mr_Oliver</value>
<value>#Mrs_Budson</value>
<value>#Mrs_Corrigan</value>
<value>#Mrs_Tweedy</value>
<value>#Murnane_E_F</value>
<value>#Murnane_E_F</value>
<value>#Murphy_L</value>
<value>#ODoherty_K</value>
<value>#OSullivan_P</value>
<value>#Plunkett_J</value>
<value>#Quinn_J</value>
<value>#Russell_G</value>
<value>#Ryan_J</value>
<value>#Seaghan_Z</value>
<value>#Stephens_J</value>
<value>#Triston_W_P</value>
<value>#Watters_L_J</value>
<value>#Wynne_A_A</value>
<value>#Wynne_E_A</value>
<value>#A_H</value>
<value>#ArmyVeterinaryService</value>
<value>#Barton_R_C</value>
<value>#Birrell_A</value>
<value>#Bowen_P_B</value>
<value>#Brade_W_H</value>
<value>#Brennan_V</value>
<value>#BrotherPius</value>
<value>#Burke_M_J</value>
<value>#Burrows_W</value>
<value>#Byrne_A</value>
<value>#Campbell_Gordon_J</value>
<value>#Campbell_RIC</value>
<value>#Casement_A</value>
<value>#Casement_R</value>
<value>#Ceannt_A</value>
<value>#Chalmers_R</value>
<value>#Chalmers_R</value>
<value>#Clarke_T_J</value>
<value>#Coffey_D</value>
<value>#Coffey_V</value>
<value>#Colbert_C</value>
<value>#Crawford_A_G</value>
<value>#Crumley_Pat</value>
<value>#Davidson_S_C</value>
<value>#Dawson_W_R</value>
<value>#Dolan_T</value>
<value>#Dowell_A</value>
<value>#Doyle_W_Fr</value>
<value>#Duffin_C</value>
<value>#Duffin_E</value>
<value>#Duffin_H</value>
<value>#Dunn_V</value>
<value>#English_K</value>
<value>#English_Pat</value>
<value>#Ennion_T</value>
<value>#Ervine_S_J</value>
<value>#Falkiner_A_F</value>
<value>#Fallon_K</value>
<value>#Faolain_S</value>
<value>#Farrell_J_P</value>
<value>#Field_W</value>
<value>#Figgis_D</value>
<value>#Fitzgerald_A</value>
<value>#FitzGerald_D</value>
<value>#Fitzgerald_S</value>
<value>#French_G_A</value>
<value>#Furlong_A</value>
<value>#Gavegan_E_J</value>
<value>#Gerrad_T_M</value>
<value>#Gill_H_V</value>
<value>#Graffney_Co</value>
<value>#Grattan_Flood_W_H</value>
<value>#Hackney_G</value>
<value>#Hale_H</value>
<value>#Hamilton_Daly_E</value>
<value>#Hanna_W</value>
<value>#Hanna_W_F</value>
<value>#Hanrette_C_J</value>
<value>#Heathcote_C_H</value>
<value>#Heuston_S</value>
<value>#Hobson_J_B</value>
<value>#Howe_B</value>
<value>#Hurley_D</value>
<value>#Hurley_J</value>
<value>#Joynt_M</value>
<value>#Kennedy_D_H</value>
<value>#Lawson_H</value>
<value>#Loughborough_Ball_A_J</value>
<value>#Lynch_D_J</value>
<value>#Lynn_K</value>
<value>#MacDiarmada_S</value>
<value>#MacDonagh_T</value>
<value>#Magill_A_P</value>
<value>#Martin_J</value>
<value>#Martin_Marie</value>
<value>#Martin_Mary</value>
<value>#Maxwell_J_G</value>
<value>#McCullough_D</value>
<value>#McGrath_J_J</value>
<value>#McGrath_P</value>
<value>#McHugh_E</value>
<value>#McNally_F</value>
<value>#Meehan_F_E</value>
<value>#Meehan_Fr</value>
<value>#Mellows_L</value>
<value>#Miss_Carney</value>
<value>#Mitchell_J_D</value>
<value>#Modhrain_T</value>
<value>#Monteith_R</value>
<value>#Mrs_Dryhurst</value>
<value>#Mullally_D</value>
<value>#Munro_C_A</value>
<value>#Murphy_J_J</value>
<value>#Murphy_P</value>
<value>#Nally_T</value>
<value>#Nathan_M</value>
<value>#Neazor_J</value>
<value>#NiModhrain_C</value>
<value>#Nolan_T_V</value>
<value>#OCarroll_R</value>
<value>#ODriscoll_D</value>
<value>#ODwyer_E_T</value>
<value>#OKelly_S_T</value>
<value>#OKelly_V</value>
<value>#ONeill_B</value>
<value>#ONeill_J</value>
<value>#ORahilly_A</value>
<value>#ORahilly_M_J</value>
<value>#OShea_P</value>
<value>#Parr_T</value>
<value>#Pearse_M</value>
<value>#Pearse_P_H</value>
<value>#person_Id</value>
<value>#Phillips_Jo</value>
<value>#Pim_C</value>
<value>#Pim_H</value>
<value>#Pollock_J</value>
<value>#Purcell_S</value>
<value>#Razzaq_A</value>
<value>#Robinson_H_A</value>
<value>#Russell_E</value>
<value>#Ryan_A_T</value>
<value>#Ryan_C</value>
<value>#Ryan_J_M</value>
<value>#Ryan_P_F</value>
<value>#Scollan_J_J</value>
<value>#see Churchill_G_I</value>
<value>#see Churchill_G_I</value>
<value>#Shaw_G_B</value>
<value>#Sheridan_F</value>
<value>#Smyth_Th</value>
<value>#Spender_L</value>
<value>#Spender_W</value>
<value>#StopfordGreen_A</value>
<value>#Sullivan_A_M</value>
<value>#The_Irish_Relief_Fund_Bazaar</value>
<value>#Thomson_B_H</value>
<value>#Tomkin_N_J</value>
<value>#Tweedy_R</value>
<value>#Wallace_T_J</value>
<value>#Walsh_E</value>
<value>#Wickham_E_L</value>
<value>#Wylie_M</value>
<value>#Wynne_A_K</value>
<value>#Wynne_C_W</value>
<value>#Wynne_V</value>
<value>#Yeats_W_B</value>
<value>#Cribb_F_J</value>
<value>#Devlin_J_E</value>
<value>#Pearse_W</value>
<value>#Eagleston_A_J</value>
<value>#Magistrate_Office_Templemore</value>
<value>#County_Inspector_x</value>
<value>#Thrift_W_E</value>
<value>#Draper_H_D</value>
<value>#Hamilton_J</value>
<value>#Advertising_Manager_Belfast_Telegraph</value>
<value>#ffrench_Mullen_D</value>
<value>#Duke_H</value>
<value>#SpencerSmith_C</value>
            <value>#Kelly_S</value>
            <value>#McCarthy_J</value>
            <value>#Delaney_T_F</value>
            <value>#McCann_J</value>
            <value>#Dillon_F</value>
          </choice>
        
      </attribute>
      <text/>
    </element>
  </define>
  
  <define name="choice">
    <element name="choice">
      <ref name="add"></ref>
      <ref name="del"></ref>
    </element>
  </define>
  
  <define name="dateValue">
    <data type="token">
      <param name="pattern">(191[567]-[01][0-9]-[0123][0-9])|(191[567]-[01][0-9])|(191[567])|(2015)</param>
    </data>
  </define>
  
  <define name="lineLevel">
    <zeroOrMore>
      <choice>
      <ref name="unclear"/>
      <ref name="gap"></ref>
      <ref name="hi"/>
      <ref name="sic"/>
      <ref name="add"/>
      <ref name="del"/>
      <ref name="choice"/>
      </choice>
    </zeroOrMore>
  </define>
  
  <define name="breaks">
    <zeroOrMore>
      <choice>
        <ref name="lb"/>
        <ref name="pb"></ref>
        <ref name="cb"/>
      </choice>
    </zeroOrMore>
  </define>
  
  <define name="correspID">
    <data type="string">
      <param name="pattern">corresp[0-9]+</param>
    </data>
  </define>
  
  <define name="time">
    <element name="time">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="hi"></ref>
        </choice>
      </oneOrMore>
    </element>
  </define>
  
  
</grammar>
